In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.spatial import distance

%matplotlib
pd.options.display.max_rows = 100

%precision 6

Using matplotlib backend: Qt5Agg

'%.6f'

In [43]:
df = pd.read_csv('all.csv', index_col=0)
data = df[3079:4402]

In [44]:
latitude = list(data['latitude'])
longtitude = list(data['longtitude'])

In [45]:
N = 1323

In [58]:
'''
使い方
左クリックで座標を合わせ、あったところのindexを返す

'''


plt.rcParams['font.size']=14

class SnaptoCursor(object):
    """
    十字カーソルを現在のカーソルのｘ値から最も近いxの点に飛ばす。
    """

    def __init__(self, ax, x, y):
        self.ax = ax
        self.lx = ax.axhline(color='g')  # the horiz line
        self.ly = ax.axvline(color='g')  # the vert line
        self.x = x
        self.y = y
        # location of point

        
    def mouse_move(self, event):
        if not event.inaxes:
                return
        if event.button == 1: #左クリック
            click_x, click_y = event.xdata, event.ydata
            click_zahyo = [click_x, click_y]
            min_dist = 10**18
            index = float('inf')
            
            for _index in range(N):
                data_zhayo = [self.x[_index], self.y[_index]]
                temp_dist = distance.euclidean(click_zahyo, data_zhayo)
                if min_dist >= temp_dist:
                    min_dist = temp_dist
                    index = _index
            
            x = self.x[index]
            y = self.y[index]
            
            # update the line positions
            self.lx.set_ydata(y)
            self.ly.set_xdata(x)
            #update title
            self.ax.figure.canvas.draw()
            
            print(index)
            
#         elif event.button == 3: # 右クリック
#             print('[%f, %f],' % (event.xdata, event.ydata))
        


fig,ax = plt.subplots(figsize=(8, 6))
ax.set_xlim([28.540, 28.5450])
ax.set_ylim([-81.3756, -81.382021])
x, y = latitude, longtitude
[ax.plot(x[i], y[i], 'o', mew=1, mec='k', ms=5) for i in range(len(x))]
snap_cursor = SnaptoCursor(ax, x, y)
fig.canvas.mpl_connect('button_press_event' , snap_cursor.mouse_move)

8

1078
1079
1080
1081
1082
1083
1084
690
691
692
693
694
695
695

In [13]:
uenohen = [[28.540452, -81.379047],
[28.540565, -81.379075],
[28.540669, -81.379061],
[28.540790, -81.379061],
[28.540895, -81.379075],
[28.541008, -81.379075],
[28.541089, -81.379061],
[28.541194, -81.379061]]
28.54045

In [55]:
data[1078:1079]

,latitude,longtitude,compass_direction,x,y,z
4157,28.540463,-81.37904,356.76,838153.00556,-5.528349e+06,3.041065e+06

In [46]:
index = []

for i in range(len(uenohen)):
    temp = data[(data['latitude']==uenohen[i][0]) & (data['longtitude']==uenohen[i][0])]
    print(temp)

Empty DataFrame
Columns: [latitude, longtitude, compass_direction, x, y, z]
Index: []
Empty DataFrame
Columns: [latitude, longtitude, compass_direction, x, y, z]
Index: []
Empty DataFrame
Columns: [latitude, longtitude, compass_direction, x, y, z]
Index: []
Empty DataFrame
Columns: [latitude, longtitude, compass_direction, x, y, z]
Index: []
Empty DataFrame
Columns: [latitude, longtitude, compass_direction, x, y, z]
Index: []
Empty DataFrame
Columns: [latitude, longtitude, compass_direction, x, y, z]
Index: []
Empty DataFrame
Columns: [latitude, longtitude, compass_direction, x, y, z]
Index: []
Empty DataFrame
Columns: [latitude, longtitude, compass_direction, x, y, z]
Index: []

In [47]:
data[(data['latitude']>=28.540450) & (data['latitude']<=28.540454)]

,latitude,longtitude,compass_direction,x,y,z
3616,28.54045,-81.381706,357.99,837895.871307,-5.528389e+06,3.041064e+06

In [48]:
data

,latitude,longtitude,compass_direction,x,y,z
3079,28.544009,-81.381796,2.77,837858.879219,-5.528204e+06,3.041411e+06
3080,28.544141,-81.381795,2.49,837857.925720,-5.528197e+06,3.041424e+06
3081,28.544276,-81.381794,2.21,837856.948354,-5.528190e+06,3.041437e+06
3082,28.544411,-81.381794,1.93,837855.874497,-5.528183e+06,3.041450e+06
3083,28.544544,-81.381793,1.65,837854.913030,-5.528176e+06,3.041463e+06
...,...,...,...,...,...,...
4397,28.540002,-81.374361,2.27,838608.139326,-5.528305e+06,3.041020e+06
4398,28.540117,-81.374364,1.98,838606.934442,-5.528299e+06,3.041031e+06
4399,28.540223,-81.374366,1.70,838605.897683,-5.528294e+06,3.041042e+06
4400,28.540324,-81.374368,1.42,838604.900723,-5.528288e+06,3.041052e+06
4401,28.540431,-81.374370,1.14,838603.856000,-5.528283e+06,3.041062e+06

In [49]:
lat = str(latitude)

In [50]:
new_list = []

for i in range(len(latitude)):
    new_list.append(str(latitude[i]))

In [51]:
length = []

for i in range(len(latitude)):
    length.append(len(new_list[i]))
    if len(new_list[i]) == 6:
        print(f'このindexは6桁です{i}')

このindexは6桁です1092

In [52]:
temp_data = data[1092:1092+3]
temp_data

,latitude,longtitude,compass_direction,x,y,z
4171,28.542000,-81.379051,352.54,838139.715497,-5.528269e+06,3.041215e+06
4172,28.542197,-81.379056,351.98,838137.665648,-5.528259e+06,3.041234e+06
4173,28.542299,-81.379061,351.69,838136.371657,-5.528253e+06,3.041244e+06